<div class="d-flex flex-column">
    <div class="logo logo-about">
        <span>About  </span><span class="logo-text-left">Chq</span><span class="logo-dot">.</span><span class="logo-text-right">to</span>
    </div>
    <p class="about-text"> 
        Chq.to is a simple web application that allows you to create and manage short links, similar to bit.ly or tinyurl.com.
        <br>
        <br>
        <p class="text-muted">This application was created as a part of the subject: "Tecnologías de Producción de Software - Ruby" as a final project.</p>
    </p>
</div>

